# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
processor.cpp
ex1_translated.txt
ex1.txt
translated.bin
disasmed.txt
disasmed.txt
disasmed.txt
log.log
user_commands.txt
.vscode/settings.json
testcases/ex2.txt
.gitignore
testcases/ex4.txt
testcases/ex5.txt
.gitignore
testcases/ex3.txt
.gitignore
testcases/ex7.txt
testcases/ex6.txt
testcases/test1.txt
